::ng-deep .mat-dialog-container {
  background: #f3f7f8;
}
.title {
  color: #5a5b5b;
  font-size: 10px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  line-height: 0.1;
  padding-left: 0px;
}
.heading {
  color: #92989a;
  line-height: 0.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 1em 0;
  font-weight: 400;
}

.dialog-order-close {
  color: #4980b3;
  padding-left: 35%;
  padding-top: 0%;
}
.percent-2-margin-top {
  margin-top: 2%;
}
.percent-7-margin-top {
  margin-top: 7%;
}
.percent-14-margin-top {
  margin-top: 14%;
}

.percent-4-margin-top {
  margin-top: 4%;
}
.not_valid {
  color: red;
  font-size: 12px;
}

.rs-pop-control-width60 {
  width: 70%;
}

.rs-pop-control-width40 {
  width: 50%;
}
.rs-pop-control-width50 {
  width: 60%;
  display: inline-flex !important;
}
.rs-select-width60 {
  width: 70%;
  line-height: 2.6;
}
.padding-textbox {
  padding-top: 2px;
}
.padding-div {
  padding-top: 10px;
}
.rs-label {
  display: block !important;
  padding-top: 6px !important;
  padding-bottom: 2px !important;
}

.dialog-lebal {
  font-size: 10px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #989ea0;
}

.confirm-dialog-button-color {
  background-color: #a64e3c !important;
}
.margin-class {
  margin-right: 20px;
}
.float-class-div {
  float: right;
}
.confirm-dialog-span {
  font-size: 12px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.rs-select-arrow {
  padding: 0 0 0 5px !important;
  font-size: 10px !important;
  font-weight: 700;
}

.percent-25-margin-top {
  margin-top: 25%;
}
.percent-10-margin-top {
  margin-top: 10%;
}

.file-upload-cancle-button {
  color: #aaadad;
  font-size: 12px;
  font-weight: 600;
  padding-left: 0px;
}
.date-span {
  border-left: 0;
  border-top: 3px solid #ced4da;
  margin-top: -0.5px !important;
}
.filter-date-height {
  height: 30px !important;
}
.date-input {
  border-right: 0;
  padding: 6px 5px !important;
  font-size: 10px;
  font-weight: 650;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  color: #989ea0;
}
.form-select-ven-state {
  padding: 4px 5px !important;
}
